{"Limits and continuity"
 ["Limits intro"
  "Estimating limit values from graphs"
  "One-sided limits from graphs"
  "Connecting limits and graphical behavior"
  "Creating tables for approximating limits"
  "Estimating limits from tables"
  "One-sided limits from tables"
  "Limits of combined functions: sums and differences"
  "Limits of combined functions: products and quotients"
  "Limits of composite functions"
  "Limits by direct substitution"
  "Direct substitution with limits that don't exist"
  "Limits of trigonometric functions"
  "Limits of piecewise functions"
  "Limits by factoring"
  "Limits using conjugates"
  "Limits using trig identities"
  "Conclusions from direct substitution (finding limits)"
  "Next steps after indeterminate form (finding limits)"
  "Strategy in finding limits"
  "Squeeze theorem"
  "Classify discontinuities"
  "Continuity at a point (graphical)"
  "Continuity at a point (algebraic)"
  "Continuity over an interval"
  "Continuity and common functions"
  "Removable discontinuities"
  "Infinite limits: graphical"
  "Infinite limits: algebraic"
  "Limits at infinity: graphical"
  "Limits at infinity of quotients"
  "Limits at infinity of quotients with square roots"
  "Using the intermediate value theorem"
  "Justification with the intermediate value theorem"]
 "Differentiation: definition and basic derivative rules"
 ["Secant lines & average rate of change"
  "Derivative as slope of curve"
  "The derivative & tangent line equations"
  "Derivative as a limit"
  "Estimate derivatives"
  "Differentiability at a point: graphical"
  "Differentiability at a point: algebraic"
  "Power rule (positive integer powers)"
  "Power rule (negative & fractional powers)"
  "Power rule (with rewriting the expression)"
  "Basic derivative rules: find the error"
  "Basic derivative rules: table"
  "Differentiate polynomials"
  "Differentiate integer powers (mixed positive and negative)"
  "Tangents of polynomials"
  "Derivatives of sin(x) and cos(x)"
  "Derivatives of 𝑒ˣ and ln(x)"
  "Differentiate products"
  "Product rule with tables"
  "Differentiate quotients"
  "Quotient rule with tables"
  "Differentiate rational functions"
  "Derivatives of tan(x), cot(x), sec(x), and csc(x)"]
 "Differentiation: composite, implicit, and inverse functions"
 ["Identify composite functions"
  "Chain rule intro"
  "Chain rule with tables"
  "Derivatives of aˣ and logₐx"
  "Chain rule capstone"
  "Implicit differentiation"
  "Derivatives of inverse functions"
  "Derivatives of inverse trigonometric functions"
  "Differentiating functions: Find the error"
  "Manipulating functions before differentiation"
  "Differentiating using multiple rules: strategy"
  "Differentiating using multiple rules"
  "Second derivatives"
  "Second derivatives (implicit equations)"
  "Disguised derivatives"]
 "Contextual applications of differentiation"
 ["Interpreting the meaning of the derivative in context"
  "Interpret motion graphs"
  "Motion problems (differential calc)"
  "Rates of change in other applied contexts (non-motion problems)"
  "Analyzing related rates problems: expressions"
  "Analyzing related rates problems: equations"
  "Differentiate related functions"
  "Related rates intro"
  "Related rates (multiple rates)"
  "Related rates (Pythagorean theorem)"
  "Related rates (advanced)"
  "Approximation with local linearity"
  "L'Hôpital's rule: 0/0"
  "L'Hôpital's rule: ∞/∞"]
 "Applying derivatives to analyze functions"
 ["Using the mean value theorem"
  "Justification with the mean value theorem"
  "Find critical points"
  "Increasing & decreasing intervals"
  "Relative minima & maxima"
  "Absolute minima & maxima (closed intervals)"
  "Absolute minima & maxima (entire domain)"
  "Concavity intro"
  "Inflection points intro"
  "Analyze concavity"
  "Find inflection points"
  "Second derivative test"
  "Justification using first derivative"
  "Justification using second derivative"
  "Connecting f, f', and f'' graphically"
  "Optimization"
  "Tangents to graphs of implicit relations"
  "Analyze functions (calculator-active)"]
 "Integration and accumulation of change"
 ["Accumulation of change"
  "Left & right Riemann sums"
  "Over- and under-estimation of Riemann sums"
  "Midpoint & trapezoidal sums"
  "Summation notation"
  "Riemann sums in summation notation"
  "Definite integral as the limit of a Riemann sum"
  "Functions defined by definite integrals (accumulation functions)"
  "Finding derivative with fundamental theorem of calculus"
  "Finding derivative with fundamental theorem of calculus: chain rule"
  "Interpreting the behavior of accumulation functions"
  "Finding definite integrals using area formulas"
  "Finding definite integrals using algebraic properties"
  "Definite integrals over adjacent intervals"
  "The fundamental theorem of calculus and definite integrals"
  "Antiderivatives and indefinite integrals"
  "Reverse power rule"
  "Reverse power rule: negative and fractional powers"
  "Reverse power rule: sums & multiples"
  "Reverse power rule: rewriting before integrating"
  "Indefinite integrals: eˣ & 1/x"
  "Indefinite integrals: sin & cos"
  "Definite integrals: reverse power rule"
  "Definite integrals: common functions"
  "Definite integrals of piecewise functions"
  "𝘶-substitution: defining 𝘶"
  "𝘶-substitution: indefinite integrals"
  "𝘶-substitution: definite integrals"
  "Integration using long division"
  "Integration using completing the square"]
 "Differential equations"
 ["Write differential equations"
  "Verify solutions to differential equations"
  "Slope fields & equations"
  "Reasoning using slope fields"
  "Separable differential equations: find the error"
  "Separable differential equations"
  "Identify separable equations"
  "Particular solutions to differential equations"
  "Particular solutions to separable differential equations"
  "Differential equations: exponential model equations"
  "Differential equations: exponential model word problems"]
 "Applications of integration"
 ["Average value of a function"
  "Analyzing motion problems (integral calculus)"
  "Motion problems (with integrals)"
  "Interpreting definite integrals in context"
  "Analyzing problems involving definite integrals"
  "Problems involving definite integrals (algebraic)"
  "Area between a curve and the x-axis"
  "Area between two curves given end points"
  "Area between two curves"
  "Horizontal areas between curves"
  "Area between curves that intersect at more than two points (calculator-active)"
  "Volumes with cross sections: squares and rectangles (intro)"
  "Volumes with cross sections: squares and rectangles"
  "Volumes with cross sections: triangles and semicircles"
  "Disc method: revolving around x- or y-axis"
  "Disc method: revolving around other axes"
  "Washer method: revolving around x- or y-axis"
  "Washer method: revolving around other axes"
  "Contextual and analytical applications of integration (calculator-active)"]}